@media (max-width: 599px) {
    /* Mobile screen optimized*/

    #Navbar {
        padding: 20px 20px;
    }

    #Navbar img {
        height: 10vh;
        width: 40%;
    }

    #Navbar ul {
        position: absolute;
        flex-direction: column;
        top: 11%;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        align-items: center;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity .5s ease, transform 0.5s ease;
        z-index: 1;
    }

    #Navbar ul.view {
        opacity: 1;
        transform: translateY(10px);
    }

    #Navbar ul li {
        padding: 16px;
    }

    .menu {
        display: initial;
        z-index: 2;
    }

    #Navbar ul li ul {
        position: relative;
        width: 100%;
        right: 0;
        text-align: center;
        display: none;
        background: none;
        border-bottom: none;
        opacity: 1;
    }

    #Navbar  ul li ul li {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Navbar ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #d84639;
        cursor: pointer;
        width: 100%;
        position: relative;
        transition: .3s;
    }
    
    #Navbar ul li a:hover,
    #Navbar ul li a.active {
        background: #e3242b;
        color: #fff;
    }
    
    #Navbar ul li a:hover::after,
    #Navbar ul li a.active::after {
        display: none;
    }

    .menu {
        display: initial;
    }

    #Hero  {
        padding: 20px 20px;
    }

    #Hero1 {
        padding: 20px 20px;
        height: 25vh;
    }

    .hero-text  h1 {
        width: 100%;
        color: #f1f1f1;
        font-family: 'Poppins';
        text-transform: uppercase;
    }

    
    #Hero .hero-text span {
        color: #e3242b;
        font-size: 2.5rem;
        width: 100%;
    }

    /*#Hero1 .hero-text span {
        color: #e3242b;
        font-size: 3rem;
    }
    
    #Hero .hero-text p {
        font-size: 2rem;
        color: #ceccc5;
        margin-bottom: 1em;
    }
    
    #Hero a {
        font-size: 1.5rem;
    }

    #Hero1 .hero-text {
        padding: 20px 20px;
    }
    
    #Hero1 .slide-image {
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }*/
    
    #About {
        padding: 20px 20px;
    }
    
    #About h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
        overflow: hidden;
    }
    
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .about_image {
        max-width: 1050px;
    }

    .about_image::before {
        display: none;
    }
    
    .about-text h3 {
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
        width: 100%;
    }
    
    .about-text span {
        color: #e3242b;
    }

    .about-text {
        padding: 15px;
        transition: .5s;
        width: 100%;
    }
    
    
    .about-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }
    
    .about-text  a {
        text-decoration: none;
        font-size: 20px;
        color: #e3242b;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #092d42;
    }
    
    .about-text a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }

    .litso {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .litso_flex-1 {
        /*border: 2px solid #092d42;*/
        width: 100%;
    }
    
    .litso_flex-2 {
        width: 100%;
    }
    
    .litso_image img {
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
        margin-bottom: 1em;
    }
    
    .litso_flex-2 img {
        width: 100%;
        object-fit: cover;
    }
    
    .litso-text {
        padding: 15px;
        width: 100%;
    }
    
    .litso-text h3 {
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .litso-text span {
        color: #e3242b;
    }
    
    .litso-text p {
        width: 100%;
        color: #777676;
        margin-bottom: 1.5em;
    }

    #Touring {
        padding: 20px 20px;
    }
    
    #Touring h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
    }
    
    .tour {
        width: 100%;
    }
    .tour img {
        width: 100%;
    }

    #Package {
        padding: 20px 20px;
    }
    
    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .package {
        width: 100%;
    }

    .info_package strong {
        color: #26ad31;
    }

    #Contact {
        padding: 20px 20px;
    }
    
    #Contact-info {
        padding: 20px 20px;
    }

    .contact_info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    
    .contact img {
        display: none;
    }
    
    .contact {
        background: #1a1a1a;
        flex-direction: column;
        width: 100%;
    }

    #cape-town {
        padding: 20px 20px;
    }
    
    #cape-town span {
        color: #e3242b;
        font-size: 3rem;
    }
    
    .cape_container {
        /*display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;*/
        gap: 1em;
    }
    
    .cape_town {
        flex-direction: column;
        justify-content: center;
    }

    .cape_info {
        width: 100%;
    }

    .cape-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    
    
    .cape-1 img{
        width: 100%;
        height: 50vh;
        background-size: cover;
    }
    
    .cape-2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        margin-left: 0em;
    }
    
    .cape-2 img{
        width: 100%;
        height: 50vh;
        background-size: cover;
    }
    
    .cape_turing-info {
        padding: 15px ;
        width: 100%;
    }

    .slide_jozi {
        flex-direction: column;
        justify-content: center;
    }

    .turing-activity {
        width: 100%;
        height: 70%;
        padding: 20px;
    }
    
    .turing-activity h3{
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 95%;
    }
    
    .turing-activity ul li {
        margin-left: 1em;
        padding: 5px 0;
        font-size: 25px;
    }
    
    .cape_turing-info a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #55656e;
        margin-bottom: 2em;
    }
    
    .cape_turing-info strong {
        font-size: 30px;
    }
    
    .cape_turing-info a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }
    
    .cape_turing-info h2 {
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    .cape_turing-info h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 100%;
    }
    
    .cape_turing-info p {
        margin-bottom: 1em;
        font-size: 25px;
        width: 100%;
    }

    form input, textarea {
        width: 100%;
    }

    footer {
        padding: 20px 10px;
    }

    .backTop{
        left: 85%;
    }


}

@media (min-width: 600px) and (max-width: 768px) {
    /* tablet screen optimized */

    #Navbar {
        padding: 20px 20px;
    }

    #Navbar img {
        height: 10vh;
        width: 30%;
    }

    #Navbar ul {
        position: absolute;
        flex-direction: column;
        top: 11%;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        align-items: center;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity .5s ease, transform 0.5s ease;
        z-index: 1;
    }

    #Navbar ul.view {
        opacity: 1;
        transform: translateY(10px);
    }

    #Navbar ul li {
        padding: 15px;
    }

    .menu {
        display: initial;
    }


    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 15px;
    }

    .menu {
        display: initial;
    }

    #Hero .hero-text {
        padding: 20px 40px;
    }

    #Hero .hero-text  h1 {
        width: 70%;
    }

    #Hero .hero-text1 h1 {
        width: 100%;
    }

    /*.hero-text {
        margin-bottom: -15%;
    }*/


    #Touring {
        padding: 20px 20px;
    }
    
    .tour-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        position: relative;
    }
    
    .tour-container h4 {
        color: #fff;
        font-size: 30px;
        padding: 10px;

    }
    
    .tour {
        width: 30%;
        height: 39vh;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .tour:hover {
        transition: .3s;
        box-shadow: 0px 5px 15px #156594;
    }
    
    .tour-flex {
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    
    .tour img {
        width: 100%;
        height: 39vh;
        z-index: -1;
        border-bottom-right-radius: 0.5rem;
    }
    
    .tour-flex {
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    
    .text-info {
        width: 100%;
        height: 39vh;
        top: -102%;
        position: relative;
        background: rgba(0, 0, 0, 0.308);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 1;
    }

    #About {
        padding: 20px 40px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
        /*box-shadow: 0px 5px 10px #092d42;*/
    }
    
    .about_image {
        position: relative;
        isolation: isolate;
        max-width: 1050px;
        margin-inline: auto;
    }

    .about_image::before {
        display: none;
    }
    
    .about_image img {
        width: 100%;
        height: 40%;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
    }
    
    .about-text {
        padding: 15px;
        width: 100%;
    }
    
    .about-text h3 {
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .about-text span {
        color: #e3242b;
    }
    
    .about-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }
    
    .about-text  a {
        text-decoration: none;
        font-size: 20px;
        color: #e3242b;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #092d42;
    }
    
    .about-text a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }

    .litso {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .litso_flex-1 {
        /*border: 2px solid #092d42;*/
        width: 100%;
    }
    
    .litso_flex-2 {
        width: 100%;
        display: flex;
        gap: .3em;
    }
    
    .litso_image img {
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
        margin-bottom: 1em;
    }
    
    .litso_flex-2 img {
        width: 100%;
        height: 40vh;
    }
    
    .litso-text {
        padding: 15px;
        width: 100%;
    }
    
    .litso-text h3 {
        font-size: 3rem;
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .litso-text span {
        color: #e3242b;
    }
    
    .litso-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }




    #cape-town {
        padding: 20px 20px;
    }

    .cape-1 img{
        width: 45%;
        height: 60vh;
        background-size: cover;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.911);
    }

    .cape_info h2 {
    color: #403179;
    font-size: 35px;
    text-transform: uppercase;
}

    .cape-2 img{
        width: 100%;
        height: 50vh;
        background-size: cover;
        transition: .4s;
        margin-bottom: 1em;
    }

    .slide_jozi {

        justify-content: center;
    }

    .cape_turing-info {
        background-color: none;
        width: 100%;
    }
    
    .turing-activity {
        width: 100%;
        padding: 20px;
    }
    
    .turing-activity ul li {
        margin-left: 1em;
        padding: 5px 0;
        font-size: 25px;
        color: #7a7a7a;
    }
    
    .cape_turing-info a {
        text-decoration: none;
        font-size: 30px;
        color: #d84639;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #9b9b99;
        margin-bottom: 2em;
    }
    
    .cape_turing-info strong {
        color: #777676;
        font-size: 30px;
    }
    
    .cape_turing-info a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #d84639;
        background: #d84639;
    }
    
    .cape_turing-info h2 {
        color: #403179;
        font-size: 4rem;
        text-transform: uppercase;
    }
    
    .cape_turing-info h3 {
        color: #114d70;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 100%;
    }
    
    .cape_turing-info p {
        color: #9b9b99;
        margin-bottom: 1em;
        font-size: 25px;
        width: 100%;
        font-family:  sans-serif;
    }


    #Package {
        padding: 20px 20px;
    }
    
    #Package h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
    }
    
    #Package h2 span {
        color: #e3242b;
    }
    
    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .package {
        width: 48%;
        /*background: #8a4a4a;*/
        height: 70vh;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.925);
    }
    
    .package img {
        width: 100%;
        height: 70vh;
    } 
    
    .overlay {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.473);
        transition: .5s;
    }
    
    /*.overlay:hover {
        background: rgba(0, 0, 0, 0.473);
    }*/
    
    .image span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: transparent;
        stroke: #092d42;
        -webkit-text-stroke: 2px #a2bbc9;
    }
    
    
    /*.overlay:hover h3,
    .overlay:hover p {
        bottom: 49%;
        opacity: 1;
    }*/
    
    
    .info_package h3 {
        color: #fff;

    }
    
    .info_package p {
        font-weight: 800;
        padding: 2px;
        margin-bottom: .3em;
    }
    
    .info_package strong {
        margin-left: 2em;
        color: #26ad31;
    }
    
    .info_package a{
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.75rem;
        text-decoration: none;
        border-radius: 30px;
        color: #e3242b;
        border: 1px solid #207cb1;
        padding: 10px;
        transition: .5s;
    }







    #Contact {
        padding: 20px 40px;
    }

    .contact_info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .contact img {
        display: none;
    }

    .Litso-contact {
        text-align: start;
        width: 100%;
    }
    
    .contact {
        background: #1a1a1a;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .backTop{
        left: 90%;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {
    

    #Navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        z-index: 10000;
    }
    
    /*#Navbar h1 {
        color: #f1f1f1;
        font-size: 40px;
    }*/
    
    #Navbar img {
        background-repeat: no-repeat;
        height: 11vh;
        width: 22%;
    }
    
    #Navbar  ul li ul {
        padding: 10px 5px;
    }
    
    #Navbar  ul li ul li {
        width: 100%;
    }
    
    #Navbar ul li a:hover::after,
    #Navbar ul li a.active::after {
        left: 17px;
    }
    
    #Hero  {
        padding: 20px 40px;
    }
    
    #Hero1  {
        padding: 20px 40px;
        width: 100%;
        height: 40vh;
    }
    
    #Hero .hero-text p {
        font-size: 2rem;
        color: #ceccc5;
        margin-bottom: 1em;
    }
    
    #About {
        padding: 20px 40px;
    }
    
    .litso_image img {
        width: 90%;
        height: 40vh;
    }

    .litso_flex-2 img {
        width: 100%;
        height: 30vh;
    }
    
    .litso-text {
        width: 90%;
        /*height: 83vh;*/
    }
    
    .about_image {
        position: relative;
        isolation: isolate;
        max-width: 550px;
        margin-inline: auto;
    }
    
    .about_image img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    
    .about_image::before {
        display: none;
    }
    
    .about_image:hover::before {
        transition: 2s;
        transform: rotate(-20deg);
        background-color: #092d42c2;
    }
    
    .about-text {
        width: 100%;
    }
    
    .about-text h3 {
        font-size: 40px;
        margin-bottom: .1em;
    }
    
    .about-text p {
        color: #777676;
        margin-bottom: 1em;
    }
    
    #Touring {
        padding: 20px 40px;
    }
    
    .tour {
        width: 30%;
        height: 39vh;
        flex-wrap: wrap;
        border-top-right-radius: 5rem;
        cursor: pointer;
    }
    
    .tour a {
        text-decoration: none;
    }
    
    .tour-flex {
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    
    #cape-town {
        padding: 20px 40px;
    }
    
    #cape-town span {
        color: #d84639;
        font-size: 3rem;
    }
    
    .cape-1 img{
        width: 45%;
        height: 50vh;
        background-size: cover;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.911);
    }
    
    .cape_info {
        width: 55%;
    }
    
    .cape_info p {
        color: #757575;
        margin-bottom: 1em;
        font-size: 25px;
        width: 100%;
        font-family:  sans-serif;
    }
    
    .cape-2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        margin-left: 1em;
    }
    
    .cape-2 img{
        width: 100%;
        height: 32vh;
        background-size: cover;
        transition: .4s;
        margin-bottom: 0em;
    }
    
    .cape-2 img:hover{
        transition: .4s;
        box-shadow: 0 5px 10px #092d42;
    }
    
    .slide_jozi {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    
    .cape_turing-info {
        padding: 0px ;
    }
    
    .cape_turing-info ul li {
        margin-left: 1em;
        padding: 5px 0;
        font-size: 25px;
        color: #7a7a7a;
    }
    
    .turing-activity {
        padding: 10px;
    }
    
    .turing-activity h3{
        width: 100%;
    }
    
    .cape_turing-info h3 {
        width: 100%;
    }
    
    .cape_turing-info p {
        width: 100%;
    }


    #Package {
        padding: 20px 40px;
    }
    
    .package {
        width: 31%;
        height: 60vh;
    }

    .hide {
        display: none;
    }
    
    .package img {
        width: 100%;
        height: 70vh;
    } 
    
    .overlay {
        width: 100%;
        height: 100%;
    }
    
    .image span {
        font-size: 30px;
    }
    
    .litso_price {
        padding: .2px;
    }
    
    .info_package h3 {
        font-size: 30px;
    }


    #Contact {
        padding: 20px 40px;
    }
    
    #Contact-info {
        padding: 20px 40px;
    }
    
    .contact img {
        width: 50%;
        height: 70vh;
        object-fit: cover;
    }
    
    /*iframe{
        width: 100%;
        height: 65vh;
    }*/
    
    form {
        width: 100%;
        padding-right: 0px;
    }
    
    form input, textarea {
        width: 90%;
    }
    
    #Footer {
        padding: 20px 40px;
    }
    
    .footer a {
        text-decoration: none;
        color: #dbdbdb;
        transition: .5s;
    }
    
    .footer a:hover {
        text-decoration: underline;
        color: #d84639;
    }
    
    .footer i {
        color: #fff;
        font-size: 40px;
        padding: 10px;
    }
    
    .footer h5 {
        color: #fff;
        font-size: 30px;
        text-align: start;
        margin-bottom: .5em;
    }
    
    .backTop{
        position: fixed;
        bottom: 10%;
        left: 95%;
        padding: 10px;
        text-align: center;
        background: #d84639;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    footer {
        text-align: center;
        padding: 20px 40px;
        background: #1a1a1a;
    }
    
    .backTop.active {
        opacity: 1;
    }
    
    #fixed a {
        position: fixed;
        transform: all .5s ease;
        background-color:  #d84639;
        fill: #25d366;
        fill-rule: #25d366;
        display: block;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, .15);
        border-radius: 50px;
        border-radius: none;
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        bottom: 70px;
        left: 20px;
        border: 0;
        z-index: 9999;
        width: 50px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    
    #fixed a::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        background-color: #d84639;
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
    }
    
    @keyframes pulse-border {
        0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
        100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1); opacity: 1;}
    }
    
    
}