@media (max-width: 599px) {
    /* Mobile screen optimized*/

    #Navbar {
        padding: 20px 20px;
    }

    #Navbar img {
        height: 10vh;
        width: 40%;
    }

    #Navbar ul {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        align-items: start;
        transition: .3s left;
    }

    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 15px;
    }

    .menu {
        display: initial;
    }

    #Hero .hero-text {
        padding: 20px 10px;
    }

    #Hero1 {
        padding: 20px 10px;
    }

    #Hero .hero-text  h1 {
        width: 100%;
    }

    #Hero1 .hero-text h1 {
        width: 100%;
    }

    #Hero .hero-text  h1 {
        font-size: 4rem;
        width: 100%;
        color: #f1f1f1;
        font-family: 'Poppins';
        text-transform: uppercase;
    }

    #Hero1 {
        height: 25vh;
    }

    #Hero1 .hero-text  h1 {
        font-size: 3rem;
        width: 100%;
        color: #f1f1f1;
        font-family: 'Poppins';
        text-transform: uppercase;
    }
    
    #Hero .hero-text span {
        color: #e3242b;
        font-size: 3rem;
    }

    #Hero1 .hero-text span {
        color: #e3242b;
        font-size: 3rem;
    }
    
    #Hero .hero-text p {
        font-size: 2rem;
        color: #ceccc5;
        margin-bottom: 1em;
    }
    
    #Hero a {
        font-size: 1.5rem;
    }

    .hero-text {
        margin-bottom: -18%;
    }

    #Hero1 .hero-text {
        padding: 20px 20px;
    }
    
    #Hero1 .slide-image {
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #About {
        padding: 20px 20px;
    }
    
    #About h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
        overflow: hidden;
    }
    
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .about_image {
        max-width: 1050px;
    }

    .about_image::before {
        display: none;
    }
    
    .about-text h3 {
        font-size: 3rem;
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .about-text span {
        color: #e3242b;
    }

    .about-text {
        padding: 15px;
        transition: .5s;
        width: 100%;
    }
    
    
    .about-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }
    
    .about-text  a {
        text-decoration: none;
        font-size: 20px;
        color: #e3242b;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #092d42;
    }
    
    .about-text a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }

    .litso {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .litso_flex-1 {
        /*border: 2px solid #092d42;*/
        width: 100%;
    }
    
    .litso_flex-2 {
        width: 100%;
    }
    
    .litso_image img {
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
        margin-bottom: 1em;
    }
    
    .litso_flex-2 img {
        width: 100%;
    }
    
    .litso-text {
        padding: 15px;
        width: 100%;
    }
    
    .litso-text h3 {
        font-size: 3rem;
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .litso-text span {
        color: #e3242b;
    }
    
    .litso-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }

    #Touring {
        padding: 20px 20px;
    }
    
    #Touring h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
    }
    
    .tour {
        width: 100%;
    }
    .tour img {
        width: 100%;
    }

    #Package {
        padding: 20px 20px;
    }
    
    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .package {
        width: 100%;
    }

    .info_package strong {
        color: #26ad31;
    }

    #Contact {
        padding: 20px 20px;
    }
    
    #Contact-info {
        padding: 20px 20px;
    }

    .contact_info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    
    .contact img {
        display: none;
    }
    
    .contact {
        background: #1a1a1a;
        flex-direction: column;
        width: 100%;
    }

    #cape-town {
        padding: 20px 20px;
    }
    
    #cape-town span {
        color: #e3242b;
        font-size: 3rem;
    }
    
    .cape_container {
        /*display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;*/
        gap: 1em;
    }
    
    .cape_town {
        flex-direction: column;
        justify-content: center;
    }
    
    
    .cape-1 img{
        width: 100%;
        height: 50vh;
        background-size: cover;
    }
    
    .cape-2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        margin-left: 0em;
    }
    
    .cape-2 img{
        width: 100%;
        height: 50vh;
        background-size: cover;
    }
    
    .cape_turing-info {
        padding: 15px ;
        width: 100%;
    }

    .slide_jozi {
        flex-direction: column;
        justify-content: center;
    }

    .turing-activity {
        width: 100%;
        height: 70%;
        padding: 20px;
    }
    
    .turing-activity h3{
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 95%;
    }
    
    .turing-activity ul li {
        margin-left: 1em;
        padding: 5px 0;
        font-size: 25px;
    }
    
    .cape_turing-info a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #55656e;
        margin-bottom: 2em;
    }
    
    .cape_turing-info strong {
        font-size: 30px;
    }
    
    .cape_turing-info a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }
    
    .cape_turing-info h2 {
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    .cape_turing-info h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 100%;
    }
    
    .cape_turing-info p {
        margin-bottom: 1em;
        font-size: 25px;
        width: 100%;
    }

    form input, textarea {
        width: 100%;
    }

    footer {
        padding: 20px 10px;
    }

    .backTop{
        left: 85%;
    }


}

@media (min-width: 600px) and (max-width: 768px) {
    /* tablet screen optimized */

    #Navbar {
        padding: 20px 20px;
    }

    #Navbar img {
        height: 10vh;
        width: 30%;
    }

    #Navbar ul {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: rgb(0, 0, 0);
        align-items: start;
        transition: .3s left;
    }

    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 15px;
    }

    .menu {
        display: initial;
    }


    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 15px;
    }

    .menu {
        display: initial;
    }

    #Hero .hero-text {
        padding: 20px 40px;
    }

    #Hero .hero-text  h1 {
        width: 70%;
    }

    #Hero .hero-text1 h1 {
        width: 100%;
    }

    /*.hero-text {
        margin-bottom: -15%;
    }*/


    #Touring {
        padding: 20px 20px;
    }
    
    .tour-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        position: relative;
    }
    
    .tour-container h4 {
        color: #fff;
        font-size: 30px;
        padding: 10px;

    }
    
    .tour {
        width: 30%;
        height: 39vh;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .tour:hover {
        transition: .3s;
        box-shadow: 0px 5px 15px #156594;
    }
    
    .tour-flex {
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    
    .tour img {
        width: 100%;
        height: 39vh;
        z-index: -1;
        border-bottom-right-radius: 0.5rem;
    }
    
    .tour-flex {
        display: flex;
        justify-content: start;
        gap: 1em;
    }
    
    .text-info {
        width: 100%;
        height: 39vh;
        top: -102%;
        position: relative;
        background: rgba(0, 0, 0, 0.308);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 1;
    }

    #About {
        padding: 20px 40px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
        /*box-shadow: 0px 5px 10px #092d42;*/
    }
    
    .about_image {
        position: relative;
        isolation: isolate;
        max-width: 1050px;
        margin-inline: auto;
    }

    .about_image::before {
        display: none;
    }
    
    .about_image img {
        width: 100%;
        height: 40%;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
    }
    
    .about-text {
        padding: 15px;
        width: 100%;
    }
    
    .about-text h3 {
        font-size: 3rem;
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .about-text span {
        color: #e3242b;
    }
    
    .about-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }
    
    .about-text  a {
        text-decoration: none;
        font-size: 20px;
        color: #e3242b;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #092d42;
    }
    
    .about-text a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #e3242b;
        background: #e3242b;
    }

    .litso {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .litso_flex-1 {
        /*border: 2px solid #092d42;*/
        width: 100%;
    }
    
    .litso_flex-2 {
        width: 100%;
        display: flex;
        gap: .3em;
    }
    
    .litso_image img {
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 5px 10px #092d42;
        cursor: pointer;
        margin-bottom: 1em;
    }
    
    .litso_flex-2 img {
        width: 100%;
        height: 40vh;
    }
    
    .litso-text {
        padding: 15px;
        width: 100%;
    }
    
    .litso-text h3 {
        font-size: 3rem;
        color: #092d42;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    
    .litso-text span {
        color: #e3242b;
    }
    
    .litso-text p {
        font-size: 1.4rem;
        color: #777676;
        margin-bottom: 1.5em;
    }




    #cape-town {
        padding: 20px 40px;
    }


    .slide_jozi {
        flex-direction: column;
        justify-content: center;
    }

    .cape_turing-info {
        padding: 15px ;
        background-color: none;
        width: 100%;
    }
    
    .turing-activity {
        width: 100%;
        height: 70%;
        padding: 20px;
    }

    .turing-activity h3{
        color: #403179;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 100%;
    }
    
    .turing-activity ul li {
        margin-left: 1em;
        padding: 5px 0;
        font-size: 25px;
        color: #7a7a7a;
    }
    
    .cape_turing-info a {
        text-decoration: none;
        font-size: 30px;
        color: #d84639;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 2px solid #9b9b99;
        margin-bottom: 2em;
    }
    
    .cape_turing-info strong {
        color: #777676;
        font-size: 30px;
    }
    
    .cape_turing-info a:hover {
        transition: 1s;
        color: #fff;
        border: 2px solid #d84639;
        background: #d84639;
    }
    
    .cape_turing-info h2 {
        color: #403179;
        font-size: 4rem;
        text-transform: uppercase;
    }
    
    .cape_turing-info h3 {
        color: #114d70;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: .2em;
        width: 100%;
    }
    
    .cape_turing-info p {
        color: #9b9b99;
        margin-bottom: 1em;
        font-size: 25px;
        width: 100%;
        font-family:  sans-serif;
    }


    #Package {
        padding: 20px 20px;
    }
    
    #Package h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: .65em;
    }
    
    #Package h2 span {
        color: #e3242b;
    }
    
    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .package {
        width: 48%;
        /*background: #8a4a4a;*/
        height: 70vh;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.925);
    }
    
    .package img {
        width: 100%;
        height: 70vh;
    } 
    
    .overlay {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.473);
        transition: .5s;
    }
    
    /*.overlay:hover {
        background: rgba(0, 0, 0, 0.473);
    }*/
    
    .image span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        color: transparent;
        stroke: #092d42;
        -webkit-text-stroke: 2px #a2bbc9;
        top: 10%;
        left: 10%;
        position: absolute;
        z-index: 1000;
    }
    
    
    /*.overlay:hover h3,
    .overlay:hover p {
        bottom: 49%;
        opacity: 1;
    }*/
    
    .info_package {
        font-size: 2rem;
        font-weight: 800;
        line-height: 3rem;
        text-decoration: none;
        color: #e3242b;
        background: #092d42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
        width: 100%;
        height: 45%;
        bottom: -55%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        transition: .5s;
    }
    
    .info_package h3 {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 800;
    }
    
    .info_package p {
        color: #999b99;
        font-size: 2rem;
        font-weight: 800;
        border: 2px dotted;
        padding: 2px;
        margin-bottom: .3em;
    }
    
    .info_package strong {
        margin-left: 2em;
        color: #26ad31;
    }
    
    .info_package a{
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.75rem;
        text-decoration: none;
        border-radius: 30px;
        color: #e3242b;
        border: 1px solid #207cb1;
        padding: 10px;
        transition: .5s;
    }







    #Contact {
        padding: 20px 40px;
    }

    .contact_info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .contact img {
        display: none;
    }

    .Litso-contact {
        text-align: start;
        width: 100%;
    }
    
    .contact {
        background: #1a1a1a;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .backTop{
        left: 90%;
    }

}