* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/*@font-face {
    font-family: Roboto;
    src: url(Text-font/Roboto-BoldCondensedItalic.ttf);
}*/

html {
    background: #f6f9fe;
    scroll-behavior: smooth;
}

#Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 10000;
}

/*#Navbar h1 {
    color: #f1f1f1;
    font-size: 40px;
}*/

#Navbar img {
    background-repeat: no-repeat;
    height: 11vh;
    width: 22%;
    object-fit: contain;
    background-size: cover;
    background-position: center;
}

#Navbar  ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Navbar  ul li {
    list-style: none;
    position: relative;
}

#Navbar  ul li ul {
    position: absolute;
    width: 210px;
    left: 0;
    display: none;
    background: #f6f9fe;
    padding: 10px 0px;
}

#Navbar  ul li ul li {
    /*width: 100%;*/
    padding: 10px 0;
}

#Navbar  ul li ul li ul {
    left: 200px;
    top: 0;
}

#Navbar  ul li:focus-within > ul,
#Navbar  ul li:hover > ul {
    display: block;
}

#Navbar ul li a {
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    color: #1a1a1a;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    transition: .3s;
}

/*#Navbar ul li a:hover {
    color: #e3242b;
}*/

#Navbar ul li a:hover::after,
#Navbar ul li a.active::after {
    content: " ";
    width: 35%;
    height: 4px;
    background: #d84639;
    position: absolute;
    bottom: -2px;
    left: 19px;
}

/* mobile nav */

.menu {
    background: #8a4a4a;
    padding: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    margin-left: 8em;
}

.menu span {
    background: #fff;
    height: 3px;
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -10%);
    cursor: pointer;
}

.menu  .line-1 {
    transform: translate(-50%, -10px);
    transition: transform 0.5s, width ;
}

.menu  .line-3 {
    transform: translate(-50%, 10px);
    transition: transform 0.5s, width ;
}

.open-menu  .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: transform 0.5s, width ;
}
.open-menu  .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.open-menu  .line-2 {
    width: 0;
}
/* close mobile nav */

#Hero  {
    padding: 20px 80px;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background-position: center;
    background-image: url(Images/elephant-5647723_1280.jpg);
}

#Hero1  {
    padding: 20px 80px;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background-position: top 70% center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, .1)) ,url(Images/Hero/luxury-plane-7382413_1920.jpg);
}

.hero-text  h1 {
    font-size: 50px;
    width: 100%;
    color: #f1f1f1;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.hero-text span {
    color: #d84639;
    font-size: 4rem;
    width: 100%;
}

#Hero1 .hero-text span {
    color: #fff;
    font-size: 40px;
    width: 100%;
    text-transform: uppercase;
}

#Hero .hero-text p {
    font-size: 2rem;
    color: #ceccc5;
    margin-bottom: 1em;
}

#Hero a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #d84639;
}

#Hero a:hover {
    transition: 1s;
    color: #d84639;
    border: 2px solid #ff857a;
    background: #fff;
}

/*.slide-image {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}*/

#About {
    padding: 20px 80px;
}

#About h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: .65em;
    color: #092d42;
}

#About h2 span {
    color: #d84639;
}

.about-container {
    gap: 1em;
}

.litso-container {
    gap: 1em;
}

.litso {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.litso_flex-1 {
    /*border: 2px solid #092d42;*/
    width: 70%;
}

.litso_flex-2 {
    width: 30%;
}

.litso_image img {
    width: 80%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    box-shadow: 0px 5px 10px #092d42;
    cursor: pointer;
    margin-bottom: 1em;
}

.airplane img {
    /*height: 30vh;*/
}

.litso_flex-2 img {
    width: 100%;
    height: 40vh;
}

.litso-text {
    padding: 15px;
    width: 70%;
    /*height: 83vh;*/
    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.562);*/
}

.litso-text h3 {
    font-size: 3rem;
    color: #092d42;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.litso-text span {
    color: #d84639;
}

.litso-text p {
    font-size: 1.4rem;
    color: #777676;
    margin-bottom: 1.5em;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    /*box-shadow: 0px 5px 10px #092d42;*/
}

.about_image {
    position: relative;
    isolation: isolate;
    max-width: 550px;
    margin-inline: auto;
}

.about_image img {
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 10px #092d42;
    cursor: pointer;

}

.about_image::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 90%;
    background-color: rgba(165, 26, 26, 0.61);
    border-radius: .5rem;
    transform: rotate(20deg);
    z-index: -1;
    cursor: pointer;
    transition: 2s;
}

.about_image:hover::before {
    transition: 2s;
    transform: rotate(-20deg);
    background-color: #092d42c2;
}

.about-text {
    /*padding: 15px;*/
    width: 45%;
}

.about-text h3 {
    font-size: 40px;
    color: #092d42;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.about-text span {
    color: #d84639;
}

.about-text p {
    font-size: 23px;
    color: #777676;
    margin-bottom: 1.5em;
}

.about-text  a {
    text-decoration: none;
    font-size: 20px;
    color: #d84639;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #092d42;
}

.about-text a:hover {
    transition: 1s;
    color: #fff;
    border: 2px solid #e3242b;
    background: #e3242b;
}

#Touring {
    padding: 20px 80px;
}

#Touring h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: .65em;
    color: #092d42;
}

#Touring h2 span {
    color: #d84639;
}

.tour-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    position: relative;
}

.tour-container h4 {
    color: #fff;
    font-size: 40px;
    padding: 10px;
}

.tour {
    width: 30%;
    height: 39vh;
    flex-wrap: wrap;
    cursor: pointer;
}

.tour a {
    text-decoration: none;
}

.tour:hover {
    transition: .3s;
    box-shadow: 0px 5px 15px #156594;
    border-top-right-radius: 5rem;
}

.tour-flex {
    display: flex;
    justify-content: start;
    gap: 1em;
}

.tour img {
    width: 100%;
    height: 39vh;
    z-index: -1;
    border-top-right-radius: 5rem;
    object-fit: cover;
}

.tour-flex {
    display: flex;
    justify-content: start;
    gap: 1em;
}

.text-info {
    width: 100%;
    height: 39vh;
    top: -102%;
    position: relative;
    background: rgba(0, 0, 0, 0.507);
    display: flex;
    border-top-right-radius: 5rem;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    opacity: 1;
}

.text-info h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 30px;
    color:  #ffffff;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    text-transform: uppercase;
}

#cape-town {
    padding: 20px 80px;
}

#cape-town h1 {
    margin-bottom: 1em;
}

#cape-town span {
    color: #d84639;
    font-size: 3rem;
}

.cape_container {
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;*/
    gap: 1em;
    margin-bottom: 2em;
}

.cape-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.cape-1 img{
    width: 45%;
    height: 50vh;
    background-size: cover;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.911);
    object-fit: cover;
}

.cape_info {
    width: 55%;
}

.cape_info h2 {
    color: #092d42;
    font-size: 40px;
    text-transform: uppercase;
}

.cape_info p {
    color: #757575;
    margin-bottom: 1em;
    font-size: 25px;
    width: 100%;
    font-family:  sans-serif;
}

.cape-2 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-left: 1em;
}

.cape-2 img{
    width: 100%;
    height: 35vh;
    background-size: cover;
    transition: .4s;
    margin-bottom: 1em;
    object-fit: cover;
}

.cape-2 img:hover{
    transition: .4s;
    box-shadow: 0 5px 10px #092d42;
}

.slide_jozi {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.cape_turing-info {
    padding: 10px;
    width: 60%;
}

.cape_turing-info ul li {
    margin-left: 1em;
    padding: 5px 0;
    font-size: 25px;
    color: #7a7a7a;
}

.turing-activity {
    /*position: absolute;
    left: 60%;
    top: 106%;
    transform: translate(-10%, 10%);*/
    background: #f7cfcc;
    padding: 10px;
    width: 50%;
    box-shadow:  5px 0px 10px rgba(0, 0, 0, 0.911);
}

.turing-activity h3{
    color: #092d42;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: .2em;
    width: 95%;
}

.turing-activity ul li {
    margin-left: 1em;
    padding: 5px 0;
    font-size: 25px;
    color: #7a7a7a;
}

.cape_turing-info a {
    text-decoration: none;
    font-size: 30px;
    color: #d84639;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #9b9b99;
    margin-bottom: 2em;
}

.cape_turing-info strong {
    color: #777676;
    font-size: 30px;
}

.cape_turing-info a:hover {
    transition: 1s;
    color: #fff;
    border: 2px solid #d84639;
    background: #d84639;
}

.cape_turing-info h2 {
    color: #114d70;
    font-size: 4rem;
    text-transform: uppercase;
}

.cape_turing-info h3 {
    color: #114d70;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: .2em;
    width: 60%;
}

.cape_turing-info p {
    color: #9b9b99;
    margin-bottom: 1em;
    font-size: 25px;
    width: 90%;
    font-family:  sans-serif;
}


#Package {
    padding: 20px 40px;
}

#Package h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: .65em;
    color: #092d42;
}

#Package h2 span {
    color: #d84639;
}

.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.package {
    width: 24%;
    /*background: #8a4a4a;*/
    height: 70vh;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.925);
}

.package img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
} 

.overlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.548);
    transition: .5s;
}

/*.overlay:hover {
    background: rgba(0, 0, 0, 0.473);
}*/

.image span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 35px;
    color: transparent;
    stroke: #092d42;
    -webkit-text-stroke: 2px #5bb3e6;
    top: 10%;
    left: 5%;
    position: absolute;
    z-index: 1000;
    text-transform: uppercase;
}


/*.overlay:hover h3,
.overlay:hover p {
    bottom: 49%;
    opacity: 1;
}*/

.info_package {
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    text-decoration: none;
    color: #d84639;
    background: #092d42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    width: 100%;
    height: 45%;
    bottom: -55%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: .5s;
}

.litso_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted;
    padding: 5px;
    margin-bottom: .3em;
    width: 100%;
}

.info_package h3 {
    color: #fff;
    font-size: 35px;
}

.info_package p {
    color: #999b99;
    font-size: 25px;
    font-weight: 800;
}

.info_package strong {
    color: #26ad31;
}

.info_package a{
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.75rem;
    text-decoration: none;
    border-radius: 30px;
    color: #d84639;
    border: 1px solid #207cb1;
    padding: 6px;
    transition: .5s;
}

.package a:hover {
    background: #d84639;
    border: 1px solid #e3242b;
    color: #092d42;
}


#Contact {
    padding: 20px 80px;
}

#Contact-info {
    padding: 20px 80px;
}

#Contact  h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: .65em;
    color: #092d42;
}

#Contact span {
    color: #d84639;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contact img {
    width: 51%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    object-fit: cover;
}

.contact {
    background: #1a1a1a;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.Litso-contact {
    text-align: start;
    width: 100%;
    padding: 20px;
}

.Litso-contact h5 {
    font-size: 40px;
    color: #fff;
    margin-bottom: .5em;
    width: 100%;
}

.Litso-contact p  {
    text-decoration: none;
    font-size: 25px;
    color: #d84639;
    margin-bottom: .4em;
}

.Litso-contact a {
    text-decoration: none;
    color: #9b9b99;
    transition: .2s;
}

.Litso-contact a:hover {
    color: #d84639;
}

.Litso-contact button {
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
    outline: none;
}

.Litso-contact button a {
    padding: 10px;
    background-color: #092d42;
    color: #f1f1f1;
}

/*.contact img {
    width: 70%;
    height: 65vh;
    background-position: center;
    object-fit: cover;
    background-color: #92548c;
}*/

/*iframe{
    width: 100%;
    height: 65vh;
}*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    padding-right: 10px;
    padding: 10px;
}

form h5 {
    font-size: 40px;
    color: #f1f1f1;
    margin-bottom: .5em;
}

form button {
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: #fff;
    background: #d84639;
    cursor: pointer;
    transition: 1s;
}

form button:hover {
    background: none;
    border: 1px solid #d84639;
    transition: 1s;
}

form input, textarea {
    padding: 11px;
    margin-bottom: .5em;
    width: 80%;
    background: none;
    outline: none;
    border: 1px solid #aaa;
    color: #fff;
}

form input:focus, textarea:focus{
    border: 1px solid #338bd8;
}

form input::placeholder, textarea::placeholder {
    color: #aaa;
}


#Footer {
    padding: 20px 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.671)), url(images/bogdan-condr-q1KLbswF70Y-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#Footer h2 {
    font-size: 30px;
    text-align: center;
    color: #dbdbdb;
    margin-bottom: 1em;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer svg {
    fill: #d84639;
    background: #f7cfcc;
    padding: 10px;
    border-radius: 50%;
}

.footer svg:hover {
    background: #9e9e9e;
}

.footer  {
    width: 70%;
    height: 45vh;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 1em;
}

.footer a {
    text-decoration: none;
    color: #dbdbdb;
    transition: .5s;
}

.footer a:hover {
    text-decoration: underline;
    color: #d84639;
}

.footer i {
    color: #fff;
    font-size: 40px;
    padding: 10px;
}

.footer h5 {
    color: #fff;
    font-size: 30px;
    text-align: start;
    margin-bottom: .5em;
}

.footer p {
    color: #fff;
    text-align: start;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 20px 80px;
    background: #1a1a1a;
}

footer p {
    font-size: 20px;
    color: #aaa;
}

footer a {
    color: #092d42;
    font-weight: 700;
}

.backTop{
    position: fixed;
    bottom: 10%;
    left: 95%;
    padding: 10px;
    text-align: center;
    background: #d84639;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.backTop.active {
    opacity: 1;
}

#fixed a {
    position: fixed;
    transform: all .5s ease;
    background-color:  #d84639;
    fill: #25d366;
    fill-rule: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    border-radius: 50px;
    border-radius: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 70px;
    left: 20px;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#fixed a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #d84639;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1); opacity: 1;}
}
